<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>Across the Obelisk</h1>
<h3 th:text="${title}"></h3>

<nav th:replace="fragments :: navbar"></nav>

<form method="post">
    <div class="form-group">
        <label>Name
            <input th:field="${forumPost.post}" class="form-control">
        </label>
        <p class="error" th:errors="${forumPost.post}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>